<!DOCTYPE html>
<html>

<head>
    @Html.Partial("_Head")
</head>

<body>
    @Html.GestructureerdeDataBeheerMenu()
    @RenderBody()
    
    @Html.LaadAlleStyleSheets()
    @Html.LaadAlleScripts()
</body>
</html>