<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" xml:lang="nl">

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @Html.Partial("_TitelMetaTags")

    <link href="/Style/BeheerModule" rel="stylesheet" type="text/css" />
    
    @*@Styles.Render("~/Bundles/basisCss")
    @Styles.Render("~/Bundles/Less")*@

    <script type="text/javascript" src="/Content/Js/jquery/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/Content/Js/jquery/jquery.jemloader.js"></script>
</head>
<body>
    @Html.NieuwsbriefMasterPageBoven("Test omgeving")
    @RenderBody()
    @Html.NieuwsbriefMasterPageOnder()

    @Html.LaadAlleScripts()
    @Html.LaadAlleStyleSheets()
</body>
</html>
