@model List<Evenement>
@{ ViewBag.Title = "Evenementen beheren"; }

<h2>@ViewBag.Title</h2>

@Html.JemValidationSummary()

<a class="btn btn-default" href="/Evenement/Bewerk">
    @Html.BootstrapIcon("plus") Toevoegen
</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Omschrijving</th>
            <th>Starttijd</th>
            <th>Is openbaar</th>
            <th>Mag uitnodigen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var evenement in Model)
            {
                <tr>
                    <td><a href="/Evenement/Bewerk/@evenement.ID">@evenement.Naam</a></td>
                    <td>@evenement.Omschrijving</td>
                    <td>@evenement.StartTijd</td>
                    <td>@evenement.IsOpenbaar</td>
                    <td>@evenement.MagUitnodigen</td>
                    <td>
                        <a href="/Evenement/Bewerk/@evenement.ID">@Html.BootstrapIcon("edit")</a>
                        <a href="/Evenement/Verwijder/@evenement.ID">@Html.BootstrapIcon("trash")</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    Nog geen evenementen toegevoegd...
                </td>
            </tr>
        }
    </tbody>
</table>