@model ContactPart

@{    
    var contentPartTaal = (ContentPartTaal)ViewData["contentPartTaal"]; 
    var contentPagina = (ContentPagina)ViewData["ContentPagina"];
    var mode = (Mode)ViewData["Mode"];
}

@switch (mode){       
    case Mode.Bewerk:
        @Html.ContactPartBewerkPartial(contentPartTaal)
        break;
    case Mode.Web:
        <h2>@Model.Titel@Html.ContentPartBeheerMenu(new ContentPart(Model, contentPagina))</h2>
        @Html.FaceboxImage(JemUploadHelper.GetImage(Model.Bijlage, 150), JemUploadHelper.GetImage(Model.Bijlage, 640), "", "Contact", new { style = "margin: 12px 25px 5px 15px; float: right;" })
        
        @Html.LabelSpan("Adres", Model.Adres)
        @Html.LabelSpan("Postcode", Model.Postcode)
        @Html.LabelSpan("Woonplaats", Model.Woonplaats)
        @Html.LabelSpan("Telefoon", Model.Telefoon)
        @Html.LabelSpan("Fax", Model.Fax)
        @Html.LabelSpan("E-mailadres", string.Format("<a href=\"mailto:{0}\">{0}</a>", Model.Email))
        @Html.LabelSpan("Website", string.Format("<a href=\"{0}\" target=\"_blank\">{0}</a>", Model.Website))
        break;
}