@model VacaturePart

@{
    var contentPartTaal = (ContentPartTaal)ViewData["contentPartTaal"];
    var contentPagina = (ContentPagina)ViewData["ContentPagina"];
    var mode = (Mode)ViewData["Mode"];
}

@switch (mode){
        
    case Mode.Bewerk: 
        @Html.VacaturePartBewerkPartial(contentPartTaal)
    break;
        
    case Mode.Web:
        <h2>@Model.Titel@Html.ContentPartBeheerMenu(new ContentPart(Model, contentPagina))</h2>
        @Model.Tekst.ToHtmlString()

        @if (Model.Bijlage1.IsNotNull() && Model.Bijlage1.IsAfbeelding) {
            @Html.FaceboxImage(JemUploadHelper.GetImage(Model.Bijlage1, 150), Model.Bijlage1.VolledigPad, "", Model.Bijlage1.BestandsnaamOrigineel, new { style = "margin: 5px 15px 0px 0px; float: left;" })
        }

        @if (Model.Bijlage2.IsNotNull() && Model.Bijlage2.IsAfbeelding) {
            @Html.FaceboxImage(JemUploadHelper.GetImage(Model.Bijlage2, 150), Model.Bijlage2.VolledigPad, "", Model.Bijlage2.BestandsnaamOrigineel, new { style = "margin: 5px 0px 5px 15px; float: left;" })
        }
    break;
}